body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 1500px;
}

#title {
    color: #C84C4C;
    text-size-adjust: 34px;
    margin-left: 30px;
    margin-top: 15px;
    font-size: xx-large;
}

#header {
    height: 80px;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #a2a2a2;
    background-color: #000000;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#homepageLink {
    margin: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#profileLink {
    margin: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#homepageLink:hover {
    text-decoration: underline;
}

#profileLink:hover {
    text-decoration: underline;
}

#box {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

#review-box,
#review-box--wrapper {
    clip-path: polygon(0px calc(100% - 20px),
            4px calc(100% - 20px),
            4px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 4px),
            20px calc(100% - 4px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px);
    position: relative;

    opacity: .9;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #000000f5;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    height: auto;
    width: 600px;
    padding: 10px;
}

#review-box {
    border: 4px solid transparent;
}

#review-box--wrapper {
    width: fit-content;
    height: fit-content;
}

#review-box--wrapper #review-box {
    display: block;
    clip-path: polygon(4px 20px,
            8px 20px,
            8px 12px,
            12px 12px,
            12px 8px,
            20px 8px,
            20px 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 4px),
            20px calc(100% - 4px),
            20px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 20px),
            4px calc(100% - 20px));
}

#review-box::after,
#review-box--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 20px),
            4px calc(100% - 20px),
            4px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 4px),
            20px calc(100% - 4px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px,
            0px 50%,
            4px 50%,
            4px 20px,
            8px 20px,
            8px 12px,
            12px 12px,
            12px 8px,
            20px 8px,
            20px 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 4px),
            20px calc(100% - 4px),
            20px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 20px),
            4px calc(100% - 20px),
            4px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    display: block;
    pointer-events: none;
}

#review-box::after {
    margin: -4px;
}

/* #review-box {
    opacity: .9;
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #000000f5;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	border-radius: 2px;
    height: auto; 
    width: 600px;
    padding: 10px; 
} */
#message-input {
    opacity: .9;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    margin: 30px;
    height: 100px;
    width: 800px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid #a2a2a2;
}

#sendButton {
    margin-left: 760px;
    width: 80px;
    height: 30px;
    border: 1px white solid;
    margin-top: 10px;
    font-family: 'JetBrains Mono';
    background-color: #000000;
    color: white;
    cursor: pointer;
}

#sendButton:hover {
    border: 1px #ffffff solid;
    background: white;
    color: black;
}

#footer {
    display: grid;
    justify-content: flex-start;
    align-items: end;
}