body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono'; 
    background-color: rgb(0, 0, 0);
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 1500px;
}
#title {
    color: #C84C4C;
    text-size-adjust: 34px;
    margin-left: 30px;
    margin-top: 15px;
    font-size: xx-large;
}
#header {
    height: 80px;
    padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid #a2a2a2;
	background-color: #000000;
	box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}
#homepageLink{
    margin-right: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#homepageLink:hover{
    text-decoration: underline;
}
#box{
    display: grid;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
}
#review-box {
    opacity: .95;
    height: auto; 
    width: 600px;
    overflow-y: auto;
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #000000f5;
	box-shadow: 0px 0px 2px 0px rgba(251, 251, 251, 0.889);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
    padding: 10px; 
}
#buttonPosition{
    display: grid;
    justify-content: flex-end;
    align-items: end;
}
#deleteButton{
    border: 1px rgb(255, 255, 255) solid;
    margin-top: 10px;
    font-family: 'JetBrains Mono'; 
    background-color: black;
    color: white;
    cursor: pointer;
}
#deleteButton:hover{
    background-color: #C84C4C;
    border: 1px #C84C4C solid;
}
#rrURL{
    color: #C84C4C;
    text-decoration: none;
}
#rrURL:hover{
    text-decoration: underline;
}
#updateForm{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#updateInput{
    opacity: .95;
    width: 300px;
    border: 1px solid #a2a2a2;
    background-color: #000000;
    color: white;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
}
#updateButton{
    border: 1px rgb(255, 255, 255) solid;
    font-family: 'JetBrains Mono'; 
    background-color: black;
    color: white;
    cursor: pointer;
}
#updateButton:hover{
    background-color: rgb(67, 150, 69);
    border: 1px rgb(67, 150, 69) solid;
}
