<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/userProfile.css">
</head>

<body>
    <div id="header">
        <div id="title">Welcome, [[${user.firstName}]]</div>
        <div>
            <a id="homepageLink" href="/homepage">Homepage</a><br />
        </div>
    </div>
    </div>

    <div style="margin: 30px; color: rgb(255, 255, 255);">
        Here are all of the reviews you've given!
    </div>
    <div id="box">
        <div th:each="review : ${resReviews}">
            <div id="review-box">
                <a id="rrURL" th:href="@{/restaurants/{id}(id=${review.restaurant.id})}">
                    <b>[[${review.restaurant.name}]]:</b></a>
                <span style="color: rgb(255, 255, 255);"> [[${review.reviewContents}]]</span><br />
                <form id="updateForm" th:action="@{/users/profile/update}" method="post">
                    <input type="hidden" name="reviewId" th:value="${review.reviewId}" />
                    <textarea id="updateInput" name="updatedReview" placeholder="Update your review here*"></textarea>
                    <input id="updateButton" type="submit" value="Update Review" />
                </form>
                <form id="buttonPosition" th:action="@{/users/profile/delete}" method="post">
                    <input type="hidden" name="reviewId" th:value="${review.reviewId}" />
                    <button id="deleteButton" type="submit">Delete Review</button>
                </form>
            </div>
            <br />
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript" src="/js/userProfile.js"></script>
</body>

</html>